.App {
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: orange;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background: #2d5b81;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: whitesmoke;
  opacity: .3;
}

@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

:root {
  font-size: 20px;   
}

body {
  font-family: 'Bebas Neue', cursive;
}

.logo {
  width:120px;
  padding: 30px;
  filter: invert(0.36) sepia(1) saturate(16.9) hue-rotate(0deg) brightness(0.89);
  float: right;
}

.logo:hover {
  filter: brightness(1);
}

* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.header {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #2d5b81;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
  padding-bottom: 7%;
  padding-top: 7%;
  flex: 70%;
}

.navbar {
  display: flex;
  background-color: #2d5b81;
  padding-left: 1%;
}

.navbar a {
  color: orange;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  color: whitesmoke;
}  


.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 70%;
  width: auto;
  padding: 20px;
}


.main {
  flex: 70%;
  background-color: #2d5b81;
  padding: 20px;
}


.img {
  filter: grayscale(100%) brightness(59%) sepia(100%) hue-rotate(160deg) saturate(400%) contrast(0.8);
  width: 20%;
  float: left;
  align-items: center;
  transition: box-shadow ease-in 150ms;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 25px;
  box-shadow:
  10px -10px 0 -5px whitesmoke,
  10px -10px 0 0 orange;

}

.img:hover {
  filter: brightness(1);
  box-shadow:
  5px -5px 0 -5px whitesmoke,
  5px -5px 0 0 orange;
}

.img2 {
  width: 80%;
  float: left;
  width: 42%;
  border-radius: 25px;
  align-items: center;
  transition: box-shadow ease-in 150ms;
  transition: .5s ease;
  backface-visibility: hidden;

}

.img2:hover {
  border-radius: 25px;
  filter: brightness(1);
}

.footer {
  padding: 20px;
  text-align: center;
  background: whitesmoke;
}

@media (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

h3 {
  color: orange;
}

h5 {
  color: white;
}
